<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Masche & Schlaufe</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/produkte" class="link">Unsere Produkte</a></li>
					<li><a href="/werte" class="link">Werte</a></li>
					<li><a href="/blog" class="link">Blog</a></li>
					<li><a href="/kontakt" class="link">Kontakt</a></li>
					<li><a href="/impressum" class="link">Impressum</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/post/weihnachtsmarkt/" class="link">Weihnachtsmarkt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/mascheundschlaufe/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.pinterest.com/mascheundschlaufe/" "svg" "icons-pinterest") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
